// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Make the footer look a little more compact.

.footer-col-wrapper *
{
    margin-bottom: 0;
}

.footer-col-wrapper, .social-links
{
    padding-bottom: 15px;
}

// Center footer email content

.footer-col-email, .footer-col-quote {
     display: flex;
     width: auto;
}

.footer-col-email {
    padding-right: 40px;
}

.contact-list {
    align-self: center;
}

// Change defaut h1 size

//.post-title, .post-content h1{
//    @include relative-font-size(2);
//}

// Some custom colour settings

.site-title, .site-title:visited
{
    color: #d4d4d4;
}

.site-nav .menu-icon > svg path
{
    fill: #bbbbbb;
}

// Add padding to about image

img {
   padding-bottom: 15px;
}

code, pre {
    border: 0px solid $border-color-01;
    border-radius: 0px;
}

// Site tag section

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-bottom: 2%;
}

#tags-c {
    padding-right: 10px;
}

.tags a{
    padding-right: 10px;
}

.posts li {
    padding-bottom: 10px;
}

// Reduce home content spacing

.post-list li {
    margin-bottom: 15px;
}